@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}
:root {
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
}

body {
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    margin: 0;
}

a {
    color: var(--white20);
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white30);
}

.header-content {
    /*position: relative;*/
    padding-inline: 20px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header li {
    color: var(--white20);
    margin-block-end: 16px;
}

header a:hover {
    color: var(--white30);
}
nav p.nav-title {
    text-transform: uppercase;
}

nav details summary {
    font-weight: bold;
}

nav details summary:hover {
    cursor: pointer;
}

h1, h2, h3 {
    /*font-weight: normal;*/
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
    margin-block: 40;
}

h3 {
    font-size: 1.5em;
    margin-block: 16px;
    font-weight: 600;
}

p {
    color: var(--white20);
}

pre {
    background: var(--white10);
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    border: 8px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 30px;
}

.hero {
    block-size: 75px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

.section-content {
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal)". ";
}

/*.section-content h3::after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--white30);
    display: inline-block;
}*/

.section-content img {
    margin-block-start: 40px;
    display: block; /* Para que haya margin collapse entre dos elementos block */
    max-inline-size: 100%; /*max-width: 100%;*/
}

/*img {
    max-width: 100%;
    height: auto;
}*/

.main hr {
    margin-block: 40px;
    border-color: rgba(97,97,97,0.2);
}

.main {
   /* border: 1px solid red;*/
}

.wrapper {
    /*border: 1px solid yellow;*/
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
   /* border: 1px solid blue;*/
   padding-inline: 16px;
}

#change-skin {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63;
    background: var(--white10);
    border-radius: 8px;
    padding: 24px;
    line-height: 24px;
    font-size: 24px;
}

blockquote p {
    color:var(--white30);
}

/*.main hr {
    display: none;
}*/

.slider {
}
.slider-content {
    /*block-size: 100px;*/
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

/*.slider-slide h1 {
    margin: 0;
    display: inline-block;
    width: 100%;

}*/

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet-list a {
    text-decoration: none;
    color: var(--white10);
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    line-height: 15px;
    margin-inline-end: 5px;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background: #251f24;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    margin-block-end: 16px;
    /*display: block;*/ /* para que hagan margin collapse*/
}

.form input::-webkit-input-placeholder {
    color: var(--white20)
}

.form input[type="submit"] {
    background: #157EFB;
    color: white;
    border: none;
}

.form input[type="submit"]:hover {
    cursor: pointer;
}

footer {
    background: var(--white30);
    color:#251F24;
    text-align: center;
}

footer p {
    margin-block-start: 15px;
    color: #251F24;
    font-weight: 400;
    font-size: 24px;
    display: inline-block
}

footer .social {
    color: #251F24;
}

/* Cuando el ancho es mayor o igual a se activa */
@media screen and (min-width: 1366px) {
    .hero {
        block-size: 250px;
    }
    header {
        font-size: 14px;
        position: absolute;
        inset-block-start: 65px;
        inset-inline-start: -208px;
        inline-size: 188px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        padding-inline: 0;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}