@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}
:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}
body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--gray30);
}


.header-content {
    /*position: relative;*/
    padding: 20px;
}
/* .header {
    position: sticky;
    top: -45px;
}*/
header {
    font-size: 14px;
    color: var(--gray10);
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

header li {
    margin-bottom: 16px;
}
nav details summary {
    font-weight: bold;
    line-height: 24px;/**/
}

nav details summary:hover {
    cursor: pointer;
}


nav .nav-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 16px;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-weight: normal;
}

/*h1 + p {
    background: red;
    margin-bottom: 64px;
}*/

hr {
    margin: 32px 0;
}

h2 {
    font-size: 2em;
    margin: 32px 0 20px 0;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin: 16px 0 24px 0;
    font-weight: normal;
    /* La siguiete feature estéticamente queda bien, pero da problemas con las anclas ¿Por qué? */
    /*position:sticky;*/ /* de acá */
    /*top: 0;*/
    /*background: white;*/ /*hasta acá*/
}

p {

}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
    overflow: auto;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
}

blockquote span {
    color: var(--gray10);
}
blockquote span::before {
    content: '- ';
}


main {
}

.wrapper {
    max-width: 902px;
    margin: auto;
}
.main-content {
    padding: 0 16px;
}

.hero {
    height: 75px;
    background: linear-gradient(to top, rgba(126, 88, 88, 0.5), transparent), url('../images/pattern.png');
}

.section-content {
    counter-reset: titleList;
    margin-top: 82px;
}
.section-content:first-child-of-type {
    margin-top: 0;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content ol li {
    line-height: 24px;
}

.section-content + hr {
    display: none;
}
.section-content img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}
.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
    position: relative;
}

.section-content h3::before {
    content: counter(titleList, decimal)". ";
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    padding-top: 10px;
    height: 100px;
    background:#212429;
    color: white;
    text-align: center;
    display: block;
}

.social {
    margin-top: 25px;
}

.social img {
    width: 24px;
    height: 24px;
    margin: 0 4px;
}


.debug {
    box-shadow: inset 0 0 0 1px red;
    /*outline: 1px solid red;
    background: red;
    border: 1px solid red !important;
    box-sizing: border-box;*/
}

#change-skin {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

/* SLIDER */

.slider {
}
.slider-content {
    /*block-size: 100px;*/
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

/*.slider-slide h1 {
    margin: 0;
    display: inline-block;
    width: 100%;

}*/

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet-list a {
    text-decoration: none;
    color: white;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray30);
    border-radius: 50%;
    padding: 5px;
    line-height: 15px;
    margin-inline-end: 5px;
}

/* FORMULARIO */

.form input {
    inline-size: 100%;
    border: 1px solid var(--gray30);
    background: whitesmoke;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--gray30);
    font-size: 16px;
    margin-block-end: 16px;
    /*display: block;*/ /* para que hagan margin collapse*/
}

.form input::-webkit-input-placeholder {
    color: var(--white20)
}

.form input[type="submit"] {
    background: #157EFB;
    color: var(--gray30);
    border: none;
}

.form input[type="submit"]:hover {
    cursor: pointer;
}

/* Cuando el ancho es mayor o igual a se activa */
@media screen and (min-width: 1366px) {
    .hero {
        height: 250px;
    }
    header {        
        font-size: 14px;
        position: absolute;
        top: 65px;
        left: -208px;
        width: 188px;
        margin-top: 20px;
        /*z-index: 1;*/
    }

    .header {
        position: sticky;
        top: -45px;
    }

    .header-content {
        position: relative;
        padding: 0;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

    hr {
        margin: 64px 0;
    }

    h2 {
        margin: 64px 0 40px 0;
    }

    .section-content {
        margin-top: 164px;
    }
}